$sans-serif: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier;


html {
	font-size: 8px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@media screen and (max-width: $md) {
		font-size: 6.5px;
	}
}

.mono {
	font-family: $mono;
}

.sans-serif {
	font-family: $sans-serif;
}

p {
	margin: 0;
}

pre,
code {
	font-family: $mono;
}

a {
	text-decoration: none;
	color: inherit;
}

@function vw($target) {
	$vw-context: (1000*.01) * 1px;
	@return ($target/$vw-context) * 1vw;
}

b,
strong {
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h1 {
	margin-top: 0;
	height: auto;
	width: 100%;
	overflow-x: hidden;
	font-family: $sans-serif;
	font-size: 2.5rem;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
h2 {
	margin-top: 0;
	font-size: 2.5rem;
	font-weight: normal;
	span {
		font-family: $mono;
		font-size: 2.25rem;
	}
	&+p {
		margin-top: 3em;
	}
}
h3 {
	margin-top: 0;
	font-size: 2rem;
	font-weight: normal;
}
h3.block-quote {
	position: relative;
	font-weight: bold;
	margin: 2em 0 2em 1em;
	&:before {
		position: absolute;
		content: "";
		left: -1em;
		width: 2px;
		height: 100%;
		background-color: $color-primary;
	}
}
.subline {
	font-size: 1.414em;
	font-weight: bold;
	line-height: 1.414;
	margin-bottom: 2em;
}
a {
	text-decoration: none;
	line-height: 1.55em;
}
p {
	line-height: 1.55em;
}
span.code {
	font-family: $mono;
	font-size: 0.85em;
	background-color: $color-code;
	color: $color-primary;
}