/* Color Variables */
$color-primary: #fee6a4;
$color-primary-bg: #fee6a4;
$color-code: rgba(254, 230, 164, 0.3);
$color-background: #095aba;
$color-background-secondary: darken($color-background, 20%);
$color-hover: darken($color-background, 30%);