@use "sass:color";

/* Color Variables */
$color-primary: #d89f01;
$color-primary-bg: $color-primary;
$color-background: #0929ba;
$color-background-secondary: color.adjust($color-background, $lightness: -20%);
$color-hover: color.adjust($color-background, $lightness: 10%);
