canvas {
	pointer-events: none;
}

*, *::before, *::after {
	box-sizing: border-box;
	cursor: url('../images/orange.png') 24 24, auto;
}

// Vendor
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/sass-rem/rem';

// Functions, Mixins
@import './lib/include-media';
@import './lib/fluid-type';
@import './lib/grid';

// Globals, Vars
@import './global/variables';
@import './global/breakpoints';
@import './global/typography';


// Components
@import './components/home';
@import './components/juice-cursor';
@import './components/case-study';

// Utility Classes
@import './utilities/layout';
@import './utilities/typography';
